<!DOCTYPE html>
<html>
<head>
  <title>hobbolr</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  
<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>        
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_url %></li>
            
            <% if user_signed_in? %>
              <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to "Manage", posts_url %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          
      </ul>
    
      <div class="page-header">
        <h1><a href="/">hobbolr</a> <small>// not tumblr</small></h1>
      </div>
     </div>
    </div>  
    

  <div class="row">
    <div class="col-md-6 col-md-offset-3">  
        <%= yield %>  
    </div>
  </div>

</body>
</html>
